<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div id="wrapper">
      <div id="sidebar-wrapper">
        <div class="sidebar-nav">
          <div class="home hidden-xs"></div>

          <span class="dotted-box-icon visible-xs-inline menu-button">
            <i class="fa fa-chevron-left"></i> Close
          </span>

          <div class="visible-xs-block"> <br><br> </div>
          
          <a href="mailto:ashutoshrishi92@gmail.com" class="shoutout-link">
            <div class="boxybutton-blue shoutout-blue">
              Get in touch
            </div>
          </a>
          <br><br>
          <a href="http://ashutoshrishi.com" class="shoutout-link">
            <div class="boxybutton-green shoutout">
              Blog
            </div>
          </a>
          <a href="https://github.com/ashutoshrishi/" class="shoutout-link">
            <div class="boxybutton-green shoutout">
              Github
            </div>
          </a>
          <a href="http://ashutoshrishi.com/CV/" class="shoutout-link">
            <div class="boxybutton-green shoutout">
              CV
            </div>
          </a>

          <a href="{{"/books" | prepend:site.url }}" class="shoutout-link">
            <div class="boxybutton-green shoutout">
              Books
            </div>
          </a>
          <a href="{{ "/about" | prepend:site.url }}" class="shoutout-link">
            <div class="boxybutton-green shoutout" id="about-link">
              About Me
            </div>
          </a>

          <br><br>
        </div>
        
      </div>
      <div id="page-content-wrapper">
        <div class="page-content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <span class="dotted-box-icon visible-xs-inline menu-button">
                  <i class="fa fa-chevron-right"></i> Menu
                </span>
  
                <div class="name hidden-xs">
                  <p>ASHUTOSH <strong>RISHI</strong> RANJAN</p>
                  <small style="font-family:'Open Sans'">
                    Developer and Designer, Blog on experiences.</small>
                </div>
                <div class="home visible-xs-block"></div>

                
                <!-- Twitter SVG icon -->

                {% if site.twitter_username  %}
                <span class="dotted-box-icon" style="padding-right:4px">
                  <a href="https://twitter.com/ashutoshrishi">
                    <i class="fa fa-twitter"></i>
                  </a>
                </span>
                {% endif %}
                
                <!-- Github SVG icon -->
                {% if site.github_username %}
                <span class="dotted-box-icon" style="padding-right:4px">
                  <a href="https://github.com/{{ site.github_username }}">
                    <i class="fa fa-github"></i>
                  </a>
                </span>
                {% endif %}

                <!-- Email SVG icon -->
                
                <span class="dotted-box-icon">
                  <a href="mailto:ashutoshrishi92@gmail.com">
                    <i class="fa fa-envelope"></i>
                  </a>
                </span>
                

      
                
                <hr class="dotted">
                
                <!-- content of page -->
                {{ content }}
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
