<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>


    
    <div class="container-fluid wrapper">
      <div class="row">
        <div class="col-xs-12">
          <a href="#blog" class="shoutout-link">
          <div class="jumper" id="jumper">
            Read Blog <span class="glyphicon glyphicon-chevron-down"></span>
          </div>
          </a>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-3 col-xs-12">
            <div class="home"></div>
        </div>
        <div class="col-md-9 col-xs-12">
          <div class="name">
            <p>ASHUTOSH <strong>RISHI</strong> RANJAN</p>
            <small> Developer and Designer, Blog on experiences.</small>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-3 col-xs-12">

          <a href="mailto:ashutoshrishi92@gmail.com" class="shoutout-link">
            <div class="boxybutton-blue shoutout-blue">
              Get in touch
            </div>
          </a>
            <br><br>
            <a href="#" class="shoutout-link">
              <div class="boxybutton-green shoutout">
                Blog
              </div>
            </a>
            <a href="#" class="shoutout-link">
              <div class="boxybutton-green shoutout">
                Projects
              </div>
            </a>
            <a href="#" class="shoutout-link">
              <div class="boxybutton-green shoutout">
                Books
              </div>
            </a>
            <a href="#" class="shoutout-link">
              <div class="boxybutton-green shoutout">
                About Me
              </div>
            </a>

          <br><br>
        </div>

        <div class="col-md-9 col-xs-12">
          <a name="blog"></a>
          {{ content }}
          
        </div>
      </div>
      <br/>
      <br/>
      <br/>

      <div class="push">

      </div>
    </div>
            {% include footer.html %}


    </body>
</html>
