body {
  background-image: url("../images/001.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #101516;
}
.title {
  font-family: "Helvetica", sans-serif;
  font-size: 2.5em;
  padding-top: 10%;
  color: white;
  font-weight: 100;
}
.sub-title {
  font-family: "Helvetica", sans-serif;
  font-size: 2.5em;
  padding-top: 10%;
  color: white;
  font-weight: 100;
  color: "red";
  font-style: italic;
}
.answer {
  margin-top: 250px;
}
.answer-text {
  color: white;
  /* font-family: oswald; */
  font-size: 2em;
  font-weight: 100;
}
.and {
  color: #1a1a1a;
  font-size: 1.75em;
  background: white;
  padding: 10px;
}
.credits {
  margin-top: 50px;
  text-align: center;
}
